<?xml version="1.0" encoding="utf-8" ?>

	<configuration>
		<connectionStrings>
			<add name="connection" connectionString="Server=DESKTOP-MUDMF6L\SQLEXPRESS;Database=bysh;
        Integrated Security=true;TrustServerCertificate=true"/>
		</connectionStrings>
		<appSettings>
			<add key="ParentTableName" value="Producatori" />
			<add key="ChildTableName" value="Ingrediente" />
			<add key="ParentColumnNames" value="id,denumire,oras" />
			<add key="ChildColumnNames" value="cod,nume,producator" />
			<add key="ParentID" value="id" />
			<add key="ChildID" value="id" />
			<add key="InsertQuery" value="INSERT INTO Ingrediente(nume,producator) VALUES (@nume,@producator)" />
			<add key="UpdateQuery" value="UPDATE Ingrediente SET producator=@producator WHERE cod=@cod" />
			<add key="DeleteQuery" value="DELETE FROM Ingrediente WHERE cod=@cod" />
			<add key="InsertCommandParameters" value="@cod,@nume,@producator" />
			<add key="UpdateCommandParameters" value="@cod,@nume,@producator" />
			<add key="ParentSelect" value="SELECT * FROM Producatori" />
			<add key="ChildSelect" value="SELECT * FROM Ingrediente WHERE producator=@id" />
		</appSettings>
	</configuration>
	